

* {
	margin: 0;
	padding: 0;
}

#box {
	width: 100%;
	height: 100vh;
	background: url(../img/img/bg.jpg);
	background-size: 100%;
	background-position-y: 0%;  /* 先将图片挪动到顶部，以便于能够往下落 */
}

.Fly{
	width:98px;height:112px;background:url(../img/img/me.png);
	position: absolute;left:50%;bottom: 0px;
}
.ZiDan{
	width:7px;height:18px;background:url(../img/img/bullet.png);z-index: 10;
	position: absolute;left:0px;top:0px;
}
